
<%- include("templates/header") %>     <h1>log in</h1>
    <form action='/loggingin' method='post'>
    <input name='email' type='email' placeholder='email'>
    <input name='password' type='password' placeholder='password'>
    <button>Submit</button>
    </form>
    <%- include("templates/footer") %> 
