<%- include("templates/header") %> 
<% if (!userProvided) { %>
    <h3>no user provided - try /nosql-injection?user=name</h3> <h3>or /nosql-injection?user[$ne]=name</h3>
<% } else { %>
    <h1>Hello <%= username %></h1>
<% } %>
<% if (!userProvided) { %>
    <h3>no user provided - try /nosql-injection?user=name</h3> <h3>or /nosql-injection?user[$ne]=name</h3>
<% } else if (validationError) { %>
    <h1 style='color:darkred;'>A NoSQL injection attack was detected!!</h1>
<% } else { %>
    <h1>Hello <%= username %></h1>
<% } %>
<%- include("templates/footer") %> 
